<div class="container">
    <div style="padding-top: 20px">
        <h4 style="color: #00887a;text-align: center; font-family: fantasy">All Rejected Courses</h4>
        <table *ngIf="tabletoggler" class="table">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>Course Name</th>
                    <th>Mentor</th>
                    <th>Duration</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody *ngFor="let course of rejectedCourses; let i = index" class="shadow">
                <tr>
                    <td>
                        <div class="card-img d-flex justify-content-center">
                            <img class="rounded-circle" src="{{course.imageUrl}}" alt="{{course.imageUrl}}" style="height: 70px; width :80px">
                        </div>
                    </td>
                    <td>{{course.name}}</td>
                    <td>{{course.mentor.name}}</td>
                    <td>{{course.duration}} Days</td>
                    <td>{{course.startDate}}</td>
                    <td>{{course.endDate}}</td>
                    <td>Rejected</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!tabletoggler" style="text-align: center; color:#0066ff;padding-top:100px ;"> There are no completed courses!</div>
    </div>
</div>