<div style="background: #00887a">
    <div style="background: #0066ff">
        <h3 style="text-align: center; padding: 30px; font-family: cursive">
            About Us
        </h3>
    </div>
    <div style="background: #00887a">
        <div class="container">
            <div class="row">
                <div class="col-sm-3" style="padding: 20px">
                    <div class="card shadow rounded-circle" style="padding: 33px">
                        <div class="d-flex justify-content-center">
                            <img src="../../assets/aboutUs/focus.png" alt="focus" height="50px" width="50px">
                        </div>
                        <div style="text-align:center">
                            <h3 style="color: #0066ff; font-family: cursive">Focus</h3>
                            <h6 style="color: black; font-family: inherit">
                                We have 100% commitment to make all our customers happy, no matter what it takes to get
                                there.
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" style="padding: 20px">
                    <div class="card shadow rounded-circle" style="padding :27px">
                        <div class="d-flex justify-content-center">
                            <img src="../../assets/aboutUs/passionheart.png" alt="focus" height="50px" width="50px">
                        </div>
                        <div style="text-align:center">
                            <h3 style="color: #0066ff; font-family: cursive">Passion</h3>
                            <h6 style="color: black; font-family: inherit">
                                Our desire to produce good service runs deep - that's what makes us handle every service
                                with fresh energy and enthusiasm.
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" style="padding: 20px">
                    <div class="card shadow rounded-circle" style="padding: 35px">
                        <div class="d-flex justify-content-center">
                            <img src="../../assets/aboutUs/empathy2.png" alt="focus" height="50px" width="50px">
                        </div>
                        <div style="text-align:center">
                            <h3 style="color: #0066ff; font-family: cursive">Empathy</h3>
                            <h6 style="color: black;font-family: inherit">
                                We provide you with what you need and we listen hard to understand your perspective and
                                goals.
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" style="padding: 20px">
                    <div class="card shadow rounded-circle" style="padding: 30px">
                        <div class="d-flex justify-content-center">
                            <img src="../../assets/aboutUs/teamwork.png" alt="focus" height="55px" width="55px">
                        </div>
                        <div style="text-align:center">
                            <h3 style="color: #0066ff; font-family: cursive">Teamwork</h3>
                            <h6 style="color: black; font-family: inherit">
                                We're with you in this to get the best mentor for you in your preferred technology as
                                extra members of your team.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ............ -->
    <!-- Team item-->
    <div style="background-color:#0066ff">
        <div>
            <h3 class="card" style="text-align: center; padding: 20px; background-color: #0066ff; font-family: cursive">
                Meet the team
            </h3>
        </div>
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-5 d-flex justify-content-center">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <div class="d-flex justify-content-center">
                        <img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-2_f8dowd.png" alt=""
                            width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    </div>
                    <h5 class="mb-0" style="color: black;text-align: center">Pronoy Sarkar</h5>
                    <div style="text-align: center" class="small text-uppercase text-muted">CEO - Founder
                    </div>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5 d-flex justify-content-center">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <div class="d-flex justify-content-center">
                        <img src="https://res.cloudinary.com/mhmd/image/upload/v1556834130/avatar-3_hzlize.png" alt=""
                            width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    </div>
                    <h5 class="mb-0" style="color: black; text-align: center">Hardy Singh</h5>
                    <div style="text-align: center" class="small text-uppercase text-muted">Product Manager</div>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5 d-flex justify-content-center">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <div class="d-flex justify-content-center">
                        <img src="https://res.cloudinary.com/mhmd/image/upload/v1556834132/avatar-4_ozhrib.png" alt=""
                            width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    </div>
                    <h5 class="mb-0" style="color: black; text-align: center">Rachel Watson</h5>
                    <div style="text-align: center" class="small text-uppercase text-muted">CTO</div>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End-->

            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5 d-flex justify-content-center">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <div class="d-flex justify-content-center">
                        <img src="https://res.cloudinary.com/mhmd/image/upload/v1556834133/avatar-1_s02nlg.png" alt=""
                            width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    </div>
                    <h5 class="mb-0" style="color: black; text-align: center">Robert Parker</h5>
                    <div style="text-align: center" class="small text-uppercase text-muted">Accountant</div>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>