.outerdiv {
    margin-top: 20px;
    min-height: 700px;
    margin-right: 20px;
    border-radius: 15px;
    padding: 50px;
    // background-color: slategrey;
}

.username {
    text-align: center;
    color: #0066ff;
    font-family: fantasy;
}

.apply {
    margin-top: 40px;
}

.option {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #00887a;
}

.option2 {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: darkgoldenrod;
    ;
}

.option3 {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #0066ff;
    ;
}

.option4 {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #F65058FF;
    ;
}

.option5 {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #28334AFF;
    ;
}

.option5 a {
    text-align: center;
    display: block;
    text-decoration: none;
}

.option4 a {
    text-align: center;
    display: block;
    text-decoration: none;
}

.option3 a {
    text-align: center;
    display: block;
    text-decoration: none;
}

.option2 a {
    text-align: center;
    display: block;
    text-decoration: none;
}

.option a {
    text-align: center;
    display: block;
    text-decoration: none;
}