<div class="container-fluid outerdiv">
    <div>
        <h2 class="username">
            Welcome {{studentinfo.name}}
        </h2>
    </div>
    <div class="apply d-flex justify-content-center">
        <button class="btn btn-outline-primary" routerLink='/courses'>
            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; &nbsp;Find your suitable mentor and apply for a course</button>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-3 option">
            <a routerLink="/studenthome/studentregisteredcourses">
                <div style="text-align:center">
                    <h5>Registered Courses</h5>
                </div>
                <div style="text-align: center;">
                    <h1>{{coursesinfo.registeredCourses}}</h1>
                </div>
            </a>
        </div>
        <div class="col-md-3 option2">
            <a routerLink="/studenthome/studentappliedcourses">
                <div style="text-align:center">
                    <h5>Applied Courses</h5>
                </div>
                <div style="text-align: center;">
                    <h1>{{coursesinfo.appliedCourses}}</h1>
                </div>
            </a>
        </div>
        <div class="col-md-3 option4">
            <a routerLink="/studenthome/studentconfirmedcourses">
                <div style="text-align:center">
                    <h5>Confirmed Courses</h5>
                </div>
                <div style="text-align: center;">
                    <h1>{{coursesinfo.confirmedCourses}}</h1>
                </div>
            </a>
        </div>
        <div class="col-md-3 option5">
            <a routerLink="/studenthome/studentcompletedcourses">
                <div style="text-align:center">
                    <h5>Completed Courses</h5>
                </div>
                <div style="text-align: center;">
                    <h1>{{coursesinfo.completedCourses}}</h1>
                </div>
            </a>
        </div>
        <div class="col-md-3 option3">
            <a routerLink="/studenthome/studentprofile">
                <div class="d-flex justify-content-center">
                    <i style="color: white;font-size:48px;" class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div style="text-align:center">
                    <h5>Profile</h5>
                </div>
            </a>
        </div>

    </div>
</div>