<div class="container">
    <div style="padding-top: 20px">
        <h4 style="color: #00887a;text-align: center; font-family: fantasy">All Mentors</h4>
        <table *ngIf="tabletoggler" class="table">
            <thead class="thead-dark">
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone No</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngFor="let mentor of mentorList; let i = index" class="shadow">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{mentor.name}}</td>
                    <td>{{mentor.email}}</td>
                    <td>{{mentor.phoneNumber}}</td>
                    <td><button class="btn btn-outline-danger" (click)="blockMentor(mentor)">Block</button>&nbsp;&nbsp;
                        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#myModal" (click)="modalDataChange(mentor)">See Profile</button></td>


                    <!-- modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title" style="color: #00887a; font-family:fantasy">
                                        {{mentorName}}</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div>Email : {{mentorEmail}}</div>
                                    <div>Phone : {{mentorPhone}}</div>
                                    <div>Experience : {{mentorExpYears}} years</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- modal -->






                </tr>
            </tbody>
        </table>
        <div *ngIf="!tabletoggler" style="text-align: center; color:#0066ff;padding-top:100px ;"> There is no valid mentor!</div>
    </div>
</div>