<div style="padding: 50px; margin: 50px; background-color: thistle; border-radius: 20px; min-height: 300px;">
    <div style="text-align: center;">
        <div style="color:black;">
            Name : {{mentorinfo.name}}
        </div>
        <div style="color:black;">
            Email : {{mentorinfo.email}}
        </div>
        <div style="color:black;">
            Phone : {{mentorinfo.phoneNumber}}
        </div>
        <div style="color:black;">
            Experience : {{mentorinfo.experience}} Years
        </div>
        <div style="color:black;">
            Linkedin : {{mentorinfo.linkedInUrl}}
        </div>
    </div>

</div>